@import "./packages/embedika/src/app/app.component";

.card {
  padding: 10px 20px 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__make {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-end;

    span {
      @include span
    }
  }
}

label {
  margin-right: 20%;
}
