.container {
  height: 100%;
  width: 100%;
  display: flex;

  &__main {
    background-color: #E5E5E5;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 52px 4%;
    overflow: auto;

    &-paginator {
      display: flex;
      align-items: center;

      *:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &__filter {
    height: 100%;
    background-color: #FFFFFF;
    padding: 52px 2%;
    right: 0;
    top: 0;
  }
}
